.cent {
    
        position: absolute;
        width: 500px;
        height: 500px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      
    background-color: rgb(221, 192, 221);
    width: 500px;
    border: 15px solid lightblue;
   padding: 20px;
  
     /*this is half of width of your div*/
  }
  .text{
    
        -webkit-shape-inside: circle(50%,50%,50%);
        border: 2px black;
        width: 500px;
        height: 25px;
        border-radius: 25px 25px 25px 25px;
        text-align:left;
        background-color: bisque;
    }
    .login{
        border-radius: 15px 15px 15px 15px;
        height: 40px;
        width: 110px;
        background-color:peachpuff;
        text-align : center ;
        margin-left: 150px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;

    }
 .h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
     text-decoration:overline;
     font-weight: bold;
 }
   
